<div class="panel-header panel-header-sm">
    </div>
    <div class="main-content">
      <div class="card ">
        <div class="card-body ">
          <div class="row">
            <div class="col-md-12">
    
              <h4 align='center'>Mapa das Perdas - OSM</h4>
              <div class="card ">
                <div id="map" class="map"></div>
<!--                 <div id="mouse-position"></div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<div id="map" class="map"></div>
<div id="mouse-position"></div>
