<div class="panel-header panel-header-sm">
  </div>
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" align="center">Registro de Vazamentos</h4>
            <button (click)="download()">Exportar</button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
                <style>
                    table, th , td {
                       border: 1px solid rgb(49, 114, 122);
                       border-collapse: separate;
                       padding: 10px;
                    }
           
                    table tr:nth-child(odd) {
                       background-color: #7dac28;
                    }
           
                    table tr:nth-child(even) {
                       background-color: #d8f7f0;
                    }
                 </style>
              <table mdbTable class="table table-hover table-striped">
                <thead class=" text-primary">
                  <th>Numero Solicitação</th>
                  <th>Tipo</th>
                  <th>Especificação</th>
                  <th>Região</th>
                  <th>Unidade</th>
                  <th>Localidade</th>
                  <th>Setor</th>
                  <th>Bairro</th>
                  <th>Logradouro</th>
                  <th>Município</th>
                  <th>Solicitação</th>
                  <th>Execução</th>
                  <th>   Dia   </th>
                  <th>Horas</th>
                  <th>Perda</th>
                  <th>Perda R$</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
              </thead>
              <tbody>
                <tr class="text-center" *ngFor="let i of pagedItems">
                  <td>{{i.numerosolicitacao}}</td>
                  <td>{{i.tiposolicitacao}}</td>
                  <td>{{i.codespecificacao}}</td>
                  <td>{{i.regiao}}</td>
                  <td>{{i.unidadeRegional}}</td>
                  <td>{{i.localidade}}</td>
                  <td>{{i.setor}}</td>
                  <td>{{i.bairro}}</td>
                  <td>{{i.logradouro}}</td>
                  <td>{{i.municipio}}</td>
                  <td>{{i.datahorasolicitacao | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                  <td>{{i.datahorafimexecucao | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                  <td>{{i.datadia | date:'dd-MM-yyyy'}}</td>
                  <td>{{i.qtdHorasDia.toFixed(2)}}h</td>
                  <td>{{i.qtdPerdaDia.toFixed(2)}}m³</td>
                  <td>R${{i.valorPerda.toFixed(2)}}</td>
                  <td>{{i.latitude}}</td>
                  <td>{{i.longitude}}</td>
                </tr>
              </tbody>
            </table>
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">Primeira</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">Anterior</a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">Próxima</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">Última</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>