
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="http://www.embasa.ba.gov.br/">
            Embasa
          </a>
        </li>
        <li>
          <a href="https://ads.ifba.edu.br/Apresenta%C3%A7%C3%A3o">
            ADS IFBA
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, TCC Perdas por Vazamentos -
      Ricardo Carvalho - 2018.2 
      
    </div>
  </div>
</footer>
